@font-face {
	font-family: myFirstFont;
	src: url("SCRAWNYK.TTF");
	font-weight: bold;
}

@media screen and (min-width:992px) {
	.small_nav {
		display: none;
	}
	.big_nav {
		display: block;
	}
	.section .contain{
		height: 100%;
		background-size: 135%;
	}
	.section .contain h2 {
		padding-top: 140px;
		font-size: 30px;
	}
	/*section1*/
	.section1 .contain {
		background: url(../images/back1_04.png) no-repeat center bottom, url(../images/back_02.png) no-repeat center 60px, #2989cc;
	}
	.section1 h1 {
		padding-top: 100px;
		width: 220px;
		height: 220px;
		margin: 0px auto 0px auto;
	}
	.section1 h1 img {
		width: 220px;
		height: 220px;
		border: 2px dashed #fff;
		border-radius: 110px;
	}
	.section1 h3 {
		height: 60px;
		line-height: 60px;
		font-size: 26px;		
		font-family: "微软雅黑";
		text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-webkit-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-moz-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
	}
	.section1 span {		
		font-size: 20px;
		height: 30px;
		line-height: 30px;
		text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0, 0 2px 3px #000;
		-webkit-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
		-moz-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
	}
	/*section2*/
	.section2 .contain {
		background: url(../images/back2_03.png) no-repeat center bottom, #fbc11f;
	}
	.section2 .contain h2 {
		color: #000;
	}
	.section2 .contain ul {
		margin: 50px auto 0px auto;
		width: 900px;
	}
	.section2 .contain ul li {
		cursor: pointer;
		float: left;
		text-align: center;
		width: 25%;
	}
	.section2 .contain ul li .about {
		margin: auto;
		width: 120px;
		height: 120px;
		background: #fff;
		border-radius: 110px;
		position: relative;
		transition: .5s;
	}
	.section2 .contain ul li .about:hover img {
		transform: rotateY(180deg), ;
		-webkit-transform: rotateY(180deg);
		/* Safari 和 Chrome */
		-moz-transform: rotateY(180deg);
		/* Firefox */
	}
	.section2 .contain ul li .about img {
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -40px;
		transition: 1s;
		z-index: 3;
	}
	.section2 .contain ul li span {
		height: 80px;
		line-height: 80px;
		font-size: 18px;
		color: #fff;
		text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-webkit-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-moz-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
	}
	.section2 .contain p {
		
		font-size: 18px;
		font-family: "微软雅黑";
		color: #ECEDED;
		text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-webkit-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-moz-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		line-height: 40px;
		height: 40px;
	}
	/*section3*/
	.section3 .contain{
		background: url(../images/back3_02.png) no-repeat center bottom, #b10376;
	}
	.section3 .contain h2 {
		color: #fff;
	}
	.section3 .contain .container{
		height: 332px;
		width: 90%;
		margin: 0px auto;
		margin-top: 50px;
	}
	.section3 .contain .container section{
		width: 50%;
		float: left;
		margin-bottom: 40px;
	}
	.section3 .contain .container section h4{
		width: 25%;
		float: left;
		height: 40px;
		line-height: 40px;
	}
	.section3 .contain .container section .number-pb{
		width: 75%;
		float: left;
	}
	/*section4*/
	.section4 .contain{
		background: url(../images/back3_04.png) no-repeat center bottom, #1476d2;
	}
	.section4 .contain h2 {
		color: #fff;
	}
	
	/*section5*/
	.section5 .contain {
		background: #18ad93;
	}
	.section5 .contain h2 {
		color: #fff;
	}
	.section5 .contain p {
		color: #fff;
	}
	.section5 .contain p:nth-of-type(1) {
		font-size: 22px;
		margin-top: 55px;
		height: 60px;
		line-height: 60px;
		text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 50px #fff, 0px 0px 50px #fff;
	}
	.section5 .contain p:nth-of-type(2) {
		margin-top: 125px;
		font-family: myFirstFont;
		font-size: 22px;
		font-weight: bolder;
	}
	.section5 .contain p .qf {
		color: #3bff8e;
	}
	.section5 .contain p .hx {
		color: #aa00b0;
	}
	.section5 .contain p .bl {
		color: #cc0101;
	}
	.section5 .contain p:nth-of-type(3) {
		margin-top: 190px;
		line-height: 40px;
		font-size: 18px;
	}
	.section5 .contain ul {
		margin-top: 440px;
	}
	.section5 .contain ul li {
		display: inline-block;
		
		
		margin-right: 20px;
		cursor: pointer;
	}
	
}

@media screen and (min-width:769px) and (max-width:991px) {
	.small_nav {
		display: none;
	}
	.big_nav {
		display: block;
	}
	.section .contain{
		height: 100%;
		background-size: 190% cover;
	}
	.section .contain h2 {
		padding-top: 130px;
		font-size: 30px;
	}
	/*section1*/
	.section1 .contain{
		background: url(../images/back1_04.png) no-repeat center bottom, url(../images/back_02.png) no-repeat center 60px, #2989cc;
	}
	.section1 .contain h1 {
		padding-top: 100px;
		width: 180px;
		height: 180px;
		margin: 0px auto 0px auto;
	}
	.section1 .contain h1 img {
		width: 180px;
		height: 180px;
		border: 2px dashed #fff;
		border-radius: 110px;
	}
	.section1 .contain h3 {
		height: 50px;
		line-height: 50px;
		font-size: 24px;
		
		font-family: "微软雅黑";
		text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-webkit-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-moz-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
	}
	.section1 .contain span {
		
		font-size: 18px;
		height: 26px;
		line-height: 26px;
		text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0, 0 2px 3px #000;
		-webkit-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
		-moz-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
	}
	/*section2*/
	.section2 .contain {
		background: url(../images/back2_03.png) no-repeat center bottom, #fbc11f;
	}
	.section2 .contain h2 {
		color: #000;
	}
	.section2 .contain ul {
		margin: 50px auto 0px auto;
		width: 800px;
	}
	.section2 .contain ul li {
		cursor: pointer;
		float: left;
		text-align: center;
		width: 25%;
	}
	.section2 .contain ul li .about {
		margin: auto;
		width: 120px;
		height: 120px;
		background: #fff;
		border-radius: 110px;
		position: relative;
		transition: .5s;
	}
	
	.section2 .contain ul li .about:hover img {
		transform: rotateY(180deg), ;
		-webkit-transform: rotateY(180deg);
		/* Safari 和 Chrome */
		-moz-transform: rotateY(180deg);
		/* Firefox */
	}
	.section2 .contain ul li .about img {
		width: 80px;
		height: 80px;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -40px;
		transition: 1s;
		z-index: 3;
	}
	.section2 .contain ul li span {
		height: 80px;
		line-height: 80px;
		font-size: 18px;
		color: #fff;
		text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-webkit-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-moz-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
	}
	.section2 .contain p {
		font-size: 18px;
		font-family: "微软雅黑";
		color: #ECEDED;
		text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-webkit-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-moz-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		line-height: 40px;
		height: 40px;
	}
	/*section3*/
	.section3 .contain{
		background: url(../images/back3_02.png) no-repeat center bottom, #b10376;
	}
	.section3 .contain h2 {
		color: #fff;
	}
	.section3 .contain .container{
		height: 332px;
		width: 90%;
		margin: 0px auto;
		margin-top: 50px;
	}
	.section3 .contain .container section{
		width: 50%;
		float: left;
		margin-bottom: 40px;
	}
	.section3 .contain .container section h4{
		width: 25%;
		float: left;
		height: 40px;
		line-height: 40px;
	}
	.section3 .contain .container section .number-pb{
		width: 75%;
		float: left;
	}
	/*section4*/
	.section4 .contain{
		background: url(../images/back3_04.png) no-repeat center bottom, #1476d2;
	}
	.section4 .contain h2 {
		color: #fff;
	}
	/*section5*/
	.section5 .contain {
		background: #18ad93;
	}
	.section5 .contain h2 {
		color: #fff;
	}
	.section5 .contain p {
		color: #fff;
	}
	.section5 .contain p:nth-of-type(1) {
		font-size: 22px;
		
		height: 60px;
		line-height: 60px;
		text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 50px #fff, 0px 0px 50px #fff;
	}
	.section5 .contain p:nth-of-type(2) {
		font-family: myFirstFont;
		font-size: 22px;
		font-weight: bolder;
	}
	.section5 .contain p .qf {
		color: #3bff8e;
	}
	.section5 .contain p .hx {
		color: #aa00b0;
	}
	.section5 .contain p .bl {
		color: #cc0101;
	}
	.section5 .contain p:nth-of-type(3) {
		line-height: 40px;
		font-size: 18px;
	}
	
	.section5 .contain ul li {
		display: inline-block;
		background: #000;
		
		margin-right: 20px;
		cursor: pointer;
	}
	
}

@media screen and (max-width:767px) {
	.small_nav {
		display: block;
	}
	.big_nav {
		display: none;
	}
	.section .contain{
		height: 100%;
		background-size: 80% cover;
	}
	.section .contain h2 {
		padding-top: 50px;
		font-size: 30px;
	}
	/*.section1*/
	.section1 .contain{
		background: url(../images/back1_04.png) no-repeat center bottom, url(../images/back_02.png) no-repeat center 60px, #2989cc;
	}
	.section1 h1 {
		padding-top: 100px;
		width: 160px;
		height: 160px;
		margin: 0px auto 0px auto;
	}
	.section1 h1 img {
		width: 160px;
		height: 160px;
		border: 2px dashed #fff;
		border-radius: 110px;
	}
	.section1 h3 {
		height: 60px;
		line-height: 60px;
		font-size: 26px;
		
		font-family: "微软雅黑";
		text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-webkit-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
		-moz-text-shadow: #fff 2px 0 0, #fff 0 2px 0, #fff -2px 0 0, #fff 0 -2px 0;
	}
	.section1 span {		
		font-size: 20px;
		height: 30px;
		line-height: 30px;
		text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0, 0 2px 3px #000;
		-webkit-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
		-moz-text-shadow: #fff 1px 0 5px, #fff 0 1px 5px, #fff -1px 0 0, #fff 0 -1px 0;
	}
	/*section2*/
	.section2 .contain {
		background: url(../images/back2_03.png) no-repeat center bottom, #fbc11f;
		
	}
	.section2 h2 {
		color: #000;
	}
	.section2 ul {
		margin: 50px auto 0px auto;
		width: 400px;
	}
	.section2 ul li {
		cursor: pointer;
		float: left;
		text-align: center;
		width: 50%;
	}
	.section2 ul li .about {
		margin: auto;
		width: 100px;
		height:100px;
		background: #fff;
		border-radius: 110px;
		position: relative;
		transition: .5s;
	}
	/*.section2 ul li .about:after {
		content: "";
		width: 100px;
		height: 100px;
		border-radius: 110px;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		transition: 1s;
	}
	.section2 ul li .about:hover:after {
		box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.5);
	}
	.section2 ul li .about:hover {
		box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.5);
	}*/
	.section2 ul li .about:hover img {
		transform: rotateY(180deg), ;
		-webkit-transform: rotateY(180deg);
		/* Safari 和 Chrome */
		-moz-transform: rotateY(180deg);
		/* Firefox */
	}
	.section2 ul li .about img {
		width: 70px;
		height: 70px;
		display: block;
		position: absolute;
		left: 55%;
		top: 55%;
		margin: -40px;
		transition: 1s;
		z-index: 3;
	}
	.section2 ul li span {
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		color: #fff;
		text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-webkit-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
		-moz-text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
	
	}
	.section2 .contain p:nth-of-type(1){
		margin-top: 30px;}
	.section2 .contain p{
		font-size: 16px;
		font-family: "微软雅黑";
		color: #ECEDED;
		text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-webkit-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		-moz-text-shadow: #666 1px 0 0, #666 0 1px 0, #666 -1px 0 0, #666 0 -1px 0;
		line-height: 40px;
		height: 40px;
	}
	/*section3*/
	.section3 .contain{
		background: url(../images/back3_02.png) no-repeat center bottom, #b10376;
	}
	.section3 .contain h2 {
		color: #fff;
	}
	.section3 .contain .container{
		height: 504px;
		width: 90%;
		margin: 0px auto;
		margin-top: 50px;
	}
	.section3 .contain .container section{
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	.section3 .contain .container section h4{
		width: 25%;
		float: left;
		height: 40px;
		line-height: 40px;
	}
	.section3 .contain .container section .number-pb{
		width: 75%;
		float: left;
	}
	/*section4*/
	.section4 .contain{
		background: url(../images/back3_04.png) no-repeat center bottom, #1476d2;
	}
	.section4 .contain h2 {
		color: #fff;
	}
	#show_pro{
		height: 90%;
	}
	/*section5*/
	.section5 .contain {
		
		background: #18ad93;
	}
	.section5 .contain h2 {
		
		color: #fff;
	}
	.section5 .contain p {
		color: #fff;
	}
	.section5 .contain p:nth-of-type(1) {
		font-size: 22px;
		
		height: 60px;
		line-height: 60px;
		text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 50px #fff, 0px 0px 50px #fff;
	}
	.section5 .contain p:nth-of-type(2) {
		
		font-family: myFirstFont;
		font-size: 20px;
		font-weight: bolder;
	}
	.section5 .contain p .qf {
		color: #3bff8e;
	}
	.section5 .contain p .hx {
		color: #aa00b0;
	}
	.section5 .contain p .bl {
		color: #cc0101;
	}
	.section5 .contain p:nth-of-type(3){
		line-height: 40px;
		font-size: 16px;
	}
	.section5 .contain ul{
		
		min-width: 264px;
	}
	.section5 .contain ul li{
		display: inline-block;
		margin-right: 5px;
		cursor: pointer;
	}
	
}